<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="bae-statistics-chart-generator" version="0.2.0">
    <details>
        <title>BAE Statistics Chart Generator</title>
        <homepage>https://github.com/FIWARE-TMForum/bae-statistics-chart-generator</homepage>
        <authors>Álvaro Arranz &lt;aarranz@fi.upm.es&gt;, Francisco de la Vega &lt;fdelavega@fi.upm.es&gt;</authors>
        <email>aarranz@fi.upm.es</email>
        <image></image>
        <smartphoneimage></smartphoneimage>
        <description>This operator retrieves product statistics from the Business API Ecosystem and creates a chart with them</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/index.md</doc>
        <license>Apache2</license>
        <issuetracker>https://github.com/FIWARE-TMForum/bae-statistics-chart-generator/issues</issuetracker>
    </details>

    <requirements>
        <!-- Add any extra requirements here -->
        <!-- <feature name="${feature-name}" /> -->
    </requirements>

    <preferences>
    </preferences>

    <wiring>
        <outputendpoint name="chart-options" label="Chart Data Model" description="Chart options" type="text" friendcode="highchart-options" />
    </wiring>

    <scripts>
        <script src="js/main.js"/>
    </scripts>

</operator>
